/*div {
    box-sizing: border-box;
}*/

.rob-filter-panel {
    width: 300px;
    border: 1px solid black;
    height: 260px;
    padding: 10px;
    margin-right: 10px;
}

.rob-filter-el {
    margin-bottom: 10px;
}

.rob-filter-name {
    display: inline-block;
    width: 80px;
}

.rob-main-info {
    padding: 10px;
}

.employee-photo-wrap {
    margin-right: 10px;
}


.orgchart-employee-block-photo {
    width: 275px;
}

.rob-main-info {
    width: 1200px;
}

.rob-btn-find-project {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

.tc-property-table {
    width: auto;
}

.rob-tb-projects-position {
    width: 500px !important;
}

/*
.tc-property-table tbody.tc-table-header tr:first-child td {
    width: inherit;
}*/

.rob-filter-input {
    width: 190px;
}

input.rob-filter-input {
    width: 168px;
}

.rob-input-statistic {
    margin-top: 6px;
}

.rob-btn-statistic {
    background-color:  #4EA146;
    margin-top: 10px;
}