.dropdownlist {
    list-style: none;
    border: 1px solid #cbcbcb;
    border-top: none;
    padding: 3px 0;
    margin: 0;
    position: absolute;
    z-index: 1050;
    background-color: white;
}

.dropdownlist li {
    float: left;
    vertical-align: top;
    padding: 0 3px
}

.dropdownlist a {
    display: block;
    text-decoration: none;
    padding: 1px 2px;
}

.dropdownlist a:hover {
    background: #f5f5f5;
}

.dropdownlist a.highlight {
    background-color: #cbcbcb;
}

.dropdownlist a.highlight:hover {

}

.queryBuilderContainer {
    margin-top: 5px;
}

.queryBuilder {
    width: 100%;
}

.queryBuilder button.dropdownButton {
}

.queryBuilder input.dropdownCombo {
    height: 17px;
    width: 150px;
    padding-left: 5px;
}

.queryItems {
    margin-bottom: 5px;
}

.queryItems .inputValue {
    width: 150px;
    height: 17px;
    background-color: #FFFFFF;
    padding-left: 5px;
}

.queryButtons {
    height: 35px;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    background-color: #f5f5f5;
}

.queryButtons button {
}

.queryBuilder .strut {
    margin: 2px;
}

.queryItems {
    width: 100%;
    padding: 0 10px;
}

.queryItems .delete {
    border: none;
    margin-left: 5px;
}
/* This file skins dialog */

.ui-dialog {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: -2px 2px 7px 2px rgba(0, 0, 0, .25);
    -moz-box-shadow: -2px 2px 7px 2px rgba(0, 0, 0, .25);
    box-shadow: -2px 2px 7px 2px rgba(0, 0, 0, .25);
    box-shadow: -2px 2px 7px 2px rgba(0, 0, 0, .25);
    min-width: 325px;
    max-width: 1200px;
    z-index: 100;
}

.ui-dialog-container {

}

.ui-dialog .ui-dialog-titlebar {
    padding: 10px 0 10px 25px;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-draggable-disabled .ui-dialog-titlebar {
    cursor: default;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 18px;
    width: 18px;
    border: 0;
    background: url("../images/Clear_icon.png") repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog .ui-dialog-titlebar-close-hover {

}

.ui-dialog .ui-dialog-title {

}

.ui-dialog .ui-dialog-content {
    border-top: 1px solid #E1E1E1;
    overflow: auto;
    background-color: #fff;
    height: auto !important;
}

.ui-dialog .ui-dialog-buttonpane {
    position: absolute;
    bottom: 1px;
    left: 3px;
    width: 100%;
    text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
    font-family: Tahoma, sans-serif;
    font-size: 10px;
    color: #ffffff;
    height: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6px 0;
    position: relative;
    bottom: 6px;
    left: 12px;
}

/* Dialog handle styles */
.ui-dialog .ui-resizable-n {
    cursor: n-resize;
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
}

.ui-dialog .ui-resizable-s {
    cursor: s-resize;
    height: 8px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.ui-dialog .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: 0;
    top: 0;
}

.ui-dialog .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: 0;
    top: 0;
}

.ui-dialog .ui-resizable-se {
    cursor: se-resize;
    width: 9px;
    height: 9px;
    right: 0;
    bottom: 0;
}

.ui-dialog .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: 0;
    bottom: 0;
}

.ui-dialog .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 29px;
    left: 0;
    top: 0;
}

.ui-dialog .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 29px;
    right: 0;
    top: 0;
}

.ui-dialog-examples {
    padding-bottom: 7px;
}

.ui-dialog-tips {
    padding-bottom: 10px;
}
#splitterComponent {
   /*margin-right:100px;*/
   height: expression(document.body.clientHeight + 'px');
}

#treePane {
   overflow: hidden;
}

#chartInfo {
   overflow: hidden;
}
 
#dottedChartInfo {
   overflow: hidden;
}

#splitterComponent .vsplitbar {
   width: 4px;
   margin-left: 1px;
   background: url("../images/vgrabber_new.gif") no-repeat scroll center center #9BA0E4;
}
  
#splitterComponent .vsplitbar.active {
  background: #716DBF url(../images/vgrabber_new.gif) no-repeat center;
  opacity: 0.7;
}
.orgchart-panel {
    padding-top: 5px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 2px;
}

.orgchart-panel-group {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;

    display: inline-block;
    white-space: nowrap;
    height: 28px;

    padding-top: 1px;
    padding-bottom: 3px;
}

.orgchart-panel-button {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;

    display: inline-block;
    width: 80px;
    height: 12px;

    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    background-color: #F3F3F3;

    font: 11px Tahoma;
    color: #444444;
    text-align: center;
    vertical-align: top;
    padding: 6px 0;

    cursor: pointer;
}

.orgchart-panel-button-left {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #DCDCDC;
}

.orgchart-panel-button-right {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #DCDCDC;
}

.orgchart-panel-button-selected {
    cursor: default;
    border: 1px solid #bbb;
    background: #e7e7e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e7e7e7 0%, #d3d3d3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7e7e7), color-stop(100%, #d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e7e7e7 0%, #d3d3d3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e7e7e7 0%, #d3d3d3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e7e7e7 0%, #d3d3d3 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e7e7e7 0%, #d3d3d3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#d3d3d3', GradientType=0); /* IE6-9 */
}

.orgchart-panel-text {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;

    display: inline-block;
    padding: 8px 10px;

    font: 11px Tahoma;
    color: #444444;
}

.orgchart-panel-text > label {
    margin-right: 5px;
}

.orgchart-dotted-marker {
    padding-left: 8px;
    background: url(../images/dotted.png) no-repeat center;
    *display: inline-block; /*IE7- hack*/
    *page-break-before: avoid; /*IE7- hack*/
}

.orgchart-solid-marker {
    padding-left: 8px;
    background: url(../images/solid.png) no-repeat center;
    *display: inline-block; /*IE7- hack*/
    *page-break-before: avoid; /*IE7- hack*/
}

.orgchart-block-divisor {
    height: 1px;
    width: 1000px;
    position: absolute;
    background-color: #EEEEEE;
    margin-top: -12px;
}

.orgchart-block-divisor-unit {
    height: 1px;
    width: 1000px;
    position: absolute;
    background-color: #EEEEEE;
    margin-top: -1px;
    z-index: 1;
}

.orgchart-employee-name {
    /*margin-bottom: 0.5em;*/
}

.orgchart-employee-info {
    font-size: 12px;
    line-height: 15px;
}

.orgchart-info-font {
    font: 12px Tahoma;
    color: #555;
    padding-top: 0.5em;
}

.orgchart-name-font {
    font: 15px Tahoma;
    color: #5b95b3;
}

.orgchart-fired-font {
    font: 15px Tahoma;
    color: #666;
}

.orgchart-emp-manager-font {
    font: 12px Tahoma;
}

.orgchart-emp-inf-manager {
    margin-top: 0.5em;
}

.orgchart-emp-inf-unit {
    /*margin-left: 12px;*/
}

.orgchart-photo {
    margin-right: 10px;
}

.orgchart-employee-block {
    display: inline-block;
    vertical-align: top;

    width: 190px;
    *width: 185px;
    margin-top: -1px;
    padding: 12px 0 12px 13px;
}

.orgchart-employee-block-photo {
    display: inline-block;
    vertical-align: top;

    width: 295px;
    *width: 290px;
    margin-top: -1px;
    padding: 12px 0 12px 13px;
}

.orgchart-subordinates-block {
    display: inline-block;
    padding-top: 0;
    margin: 0;
}

#treePane {
    padding-top: 12px;
}

#chartInfo {
    padding-top: 12px;
}

#lineTree,
#rootManagersTree {
    margin-top: 10px;
}

.officeBlock {
    padding: 5px;
    background-color: #F5F5F5;
}
.treeLines {
    text-align: center;
    font-size: 16px;
}

.officeBlockMain {
    background: #4f92ba;
    color: white;
    padding: 5px;
}

.unitNameAtTheTop {
    margin: 0 0 -2px 17px;
    font: bold 14px Tahoma;
    color: #666;
}

.orgchart-subunits-header {
    padding-bottom: 0.75em;
    padding-left: 4px;
    font: bold 13px Tahoma;
    color: #666;
}

.orgchart-subunits-header-divisor {
    height: 1px;
    background-color: #ccc;
    z-index: 2;
    position: relative;
}

.orgchart-subunit-block {
    display: inline-block;
    vertical-align: top;

    width: 190px;
    padding: 0 0 12px 13px;
}

.orgchart-subunit-info {
    margin-top: 12px;
    font-size: 12px;
    line-height: 15px;
}

.orgchart-subunit-name {
    margin-bottom: 0.5em;
}

.omessearch-block-divisor {
    height: 1px;
    width: 915px;
    position: absolute;
    left: 70px;
    background-color: #EEEEEE;
    margin-top: -12px;
}

.omessearch-employee-block {
    display: inline-block;
    vertical-align: top;
    width: 290px;
    padding: 12px 0 12px 13px;
}

.omessearch-employee-block-photo {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    padding: 12px 50px 12px 13px;
}

.omes-bottom-panel-result-info {
    /*margin-right: 10px;*/
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.omes-search-input {
    width: 240px;
    padding-left: 5px;
}

.orgchart .title1 {
    padding-left: 8px;
}

.orgchart .tree-classic a {
    color: #333
}

.orgchart .tree-classic a span {
    color: #999;
    padding-left: 8px
}

.orgchart .tree-classic a {
    display: block;
    height: 25px;
    line-height: 25px
}

.orgchart .tree-classic a {
    font-weight: normal
}

.orgchart .tree-classic li span.clicked, .orgchart .tree-classic li a.clicked span {
    color: #bbb;
    padding-left: 8px;
    width: 550px;
}

.orgchart #basic_html_1 {
    padding-left: 8px
}

.orgchart .tree-classic li a,
.orgchart .tree-classic li a.clicked,
.orgchart .tree-classic li a.clicked:hover {
    padding: 0 0 0 3px
}

.orgchart .tree-classic ul,
.orgchart .tree-classic li.leaf {
    background-image: none;
}

.orgchart .tree-classic li.closed,
.orgchart #jstree-dragged.tree-classic li li.open,
.orgchart .tree-classic ul.ltr li.last.closed {
    background: url("../images/tree/tree_nodes_closed.gif") no-repeat scroll 1px 10px transparent
}

.orgchart .tree-classic ul.ltr li.rootNode.closed {
    background: url("../images/tree/tree_nodes_closed.gif") no-repeat scroll 1px 10px transparent
}

.orgchart .tree-classic li.open,
.orgchart .tree-classic ul.ltr li.rootNode.open,
.orgchart .tree-classic ul.ltr li.last.open {
    background: url("../images/tree/tree_nodes_collapsed.gif") no-repeat scroll 1px 10px transparent
}

.orgchart .tree-classic li.last.leaf {
    background-image: none
}

.orgchart .tree-classic a ins {
    display: none
}

.orgchart .tree .ltr li.last {
    float: none
}

.splitter-bar {
    width: 4px;
    background: #f26c9b url("../images/vgrabber_new.gif") no-repeat scroll center center;
}

.query-examples-tab-wrap {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}

[id^=example-tab-] {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
}

.queryExamples .tab-active {
    color: #f26c9b;
}

.unit-pmc-type {
    margin-left: 20px;
    font-size: 11px;
    color : #888;
}

.sub-unit-pmc-type {
    margin-left: 5px;
    font-size: 11px;
    color: #888;
    
}.hr-contact-icon {
    display: inline-block;
    margin-left: 20px;
    background-color: grey;
    padding: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    position: relative;
    top: -2px;
    cursor: pointer;
    font-weight: normal;
}

.hr-contact {
    display: table-row;
    white-space: nowrap;
}

.hr-contact a {
    display: table-cell;
}

.hr-contact span {
    display: table-cell;
    color: grey;
    padding-left: 10px;
}